[submodule "10Academy-Certificate-Generation-frontend"]
	path = 10Academy-Certificate-Generation-frontend
	url = https://github.com/ekram-kedir/10Academy-Certificate-Generation-frontend.git
[submodule "10Academy-Certificate-Generation-backend"]
	path = 10Academy-Certificate-Generation-backend
	url = https://github.com/ekram-kedir/10Academy-Certificate-Generation-backend.git
